.news {
  padding: 0 20px;
}

.news__title {
  @include heading();
}

.news__list {
  @include list-reset()
}

.news__date {
  font-size: 16px;
}

.news__day {
  font-size: 30px;
  line-height: 30px;
}

.news__to-all {
  width: 100%;
}
