.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: flex;
  height: 85px;
  background-color: $header-gray;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: 2;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 648px;
  }
}
