.page {
  min-height: 100vh;

  font-family: $default-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: $basic-black;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  background-color: $bg-gray;
}
