 //Colors
$light-brown: #d5c9bd;
$main-brown: #826550;
$dark-brown: #6a4d38;

$line-gray: #e5ddd5;
$bg-gray: #f8f5f2;
$light-gray: #aeaeae;
$stas-gray: #404040;
$stas-gray2: #4e4e4e;
$body-gray: #353535;
$footer-gray: #292929;
$header-gray: #242424;

$basic-black: #000000;

$basic-white: #ffffff;

//Fonts
$default-font: "PT Sans Narrow", Arial, sans-serif;

//Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
