//Colors
$basic_black: #000000;
$basic_black2: #111111;
$basic_white: #ffffff;
$basic_green: #68b738;
$basic_green_2: #5eaa2f;
$basic_grey: #f2f2f2;
$basic_grey_2: #ebebeb;
$basic_grey_3: #e6e6e6;
$basic-grey_4: #fff9f9;
$basic-grey_5: #eaeaea;
$special_grey: #cdcdcd;
$special_grey_2: #666666;
$special_grey_3: #d9d9d9;
$special_grey_4: #dcdcdc;
$special_dark_grey: #444444;
$special_dark_grey_2: #222222;
$status_error: #ff8282;

//Fonts
$default-font: "Oswald", "Arial", sans-serif;
$custom-font: "Arial", sans-serif;

//Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
